@font-face {
    font-family: Day;
    src: url("../src/fonts/Days.ttf");
}
div.parallax-window{
    min-width: 100%;!important;
    min-height: 120vh;
    background-color: rgba(0, 0, 0, .25);
    padding-top: 5vh;
}

nav.navbar-right{
    display: block;
    position: fixed;top:18%;left:88%;
    text-align: right;
    background-color: transparent;!important;
}

nav.navbar-right li{
    margin-top: 15px;
    margin-bottom: 3px;
    background-color: transparent;!important;
}

nav.navbar-right li:hover{
    background-color: transparent;!important;
}

nav.navbar-right li.active{
    background-color: transparent;!important;
}

nav.navbar-right li a{
    color: white;
    font-size: 15px;
    opacity: .9;
    text-decoration: none;
    background-color: transparent;!important;
    font-weight: 500;
}

nav.navbar-right li.active a{
    color: #4fc1e9;
    opacity: 1;
    border-bottom: 2px inset #4fc1e9;
    background-color: transparent;!important;
}

nav.navbar-right li a:hover{
    margin-bottom: 0;
    color: white;
    border-bottom: 2px inset white;
    opacity: 1;
    background-color: transparent;!important;
    transition: .2s;
}

nav.navbar-right li.active a:hover{
       margin-bottom: 0;
       color: #4fc1e9;
       opacity: 1;
       border-bottom: 2px inset #4fc1e9;
       background-color: transparent;!important;
   }

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent;!important;
}

@media (max-width: 1200px){
    nav.navbar-right{
        left: 86%;
    }
}
@media (max-width: 991px){
    nav.navbar-right{
        left: 83%;
    }
}
@media (max-width: 767px){
    nav.navbar-right{
        left: 80%;
    }
}

.brand__custom-back{
    margin-top: 4vh;
    background-color: rgba(0, 0, 0, .4);!important;
    width: 80%;
    border-radius:  0 23px 23px 0;
}

h1.brand-h1{
    font-family: Day;
    margin-top: 5%;
    font-size: 50px;
    color: ghostwhite;
    font-weight: 500;
}

h2.brand-h2{
    font-family: 'Cuprum', arial;
    margin-bottom: 20px;
    color: ghostwhite;
}

b.price{
    color: #E67E22;
}

p.brand__description{
    color: ghostwhite;
    font-size: 17px;
}

a.btn-travell{
    margin-top: 40px;
    background-color: cornflowerblue;
    color: ghostwhite;
    border-radius: 20px;
}

a.btn-travell:hover{
    background-color: ghostwhite;
    color: cornflowerblue;
    transition: 1s;
}

.about__custom-brand{
    margin-top: 40px;
    background-color: rgba(255, 255, 255, .3);!important;
    width: 90%;
    border-radius:  23px 23px 23px 23px;
}

.way__background{
    background-color: rgba(255, 255, 255, .2);
    height: 70vh;
    align-content: center;
    text-align: center;
}

ul.nav-custom li a{
    color: #337ab7;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 15px 15px 0 0;
    margin-left: 15px;
    margin-top: 20px;
}

ul.nav-custom li.active a{
    color: ghostwhite;
    background-color: #337ab7;
}

ul.nav-custom li.active a:hover{
    color: ghostwhite;
    background-color: #337ab7;
}

ul.nav-custom li a:hover{
    color: ghostwhite;
    background-color: cornflowerblue;
}

ul.nav-left-custom li a{
    color: #337ab7;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 15px 15px 15px 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

ul.nav-left-custom li.active a{
    color: ghostwhite;
    background-color: #337ab7;
}

ul.nav-left-custom li.active a:hover{
    color: ghostwhite;
    background-color: #337ab7;
}

ul.nav-left-custom li a:hover{
    color: ghostwhite;
    background-color: cornflowerblue;
}

.about__custom-back{
    margin-top: 5%;
    background-color: rgba(255, 255, 255, .2);!important;
    width: 80%;
    border-radius:  0 23px 23px 0;
    height: 60vh;
}

.tour__custom-back{
    padding-top: 5vh;
    margin-left: 10%;
    width: 70vw;
    height: 87vh;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 15px 15px 15px 15px;
}

div.carousel-inner {
    height: 90vh;
}

.item img.way__carouselle-img{
    width: 55vw;!important;
    height: 55vh;!important;
    margin-left: 10%;
}

.carousel-content {
    position: absolute;
    top: 55vh;
    left: 5vw;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.price__custom-back{
    margin-top: 5%;
    background-color: rgba(0, 0, 0, .4);!important;
    width: 80%;
    border-radius:  0 23px 23px 0;
    height: 60vh;
}